{% extends "base.html" %} {% block titulo %}Iniciar sesión - Sonrisatroll{% endblock titulo %} {% block principal %}
<div id="formulario">
    {% if error %}
    <section id="mensaje" class="error">
        {{error}}
    </section>
    {% endif %}
    <div class="center">
        <span id="signinButton">
            <span class="g-signin" data-callback="signinCallback" data-clientid="362436164837-6dg64t89v4hkvhsa7csp7bosidm3o8fa.apps.googleusercontent.com" data-cookiepolicy="single_host_origin" data-requestvisibleactions="http://schemas.google.com/AddActivity" data-scope="https://www.googleapis.com/auth/plus.login">
            </span>
        </span>
    </div>
    <h1>Iniciar sesión</h1>
    <form method='post' action='{% url autenticacion %}'>
        {% csrf_token %} {% for campo in formulario %}
        <div class="field">
            {{ campo.label_tag }}: {{ campo }}
        </div>
        {% endfor %}
        <div class="fix"></div>
        <input type='submit' value='Iniciar sesión' />
        <p class="mensaje">
            <a href="{% url registro %}">¿No estás registrado?</a>
            <br>
            <a href="{% url restablecer-clave %}">¿Olvidaste tu contraseña?</a>
        </p>
    </form>
</div>
{% endblock principal %} {% block js %}
<script>
    urlGoogleAuth = '{% url google_autenticacion %}';
    csrfToken = '{{csrf_token}}';
</script>
<script src="{{STATIC_URL}}js/sonrisatroll.auth.js"></script>
<script type="text/javascript">
    (function() {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
{% endblock js %}