{% extends "base.html" %} {% block titulo %}Iniciar sesión - Sonrisatroll{% endblock titulo %} {% block principal %}
<div id="formulario">
    {% if error %}
    <section id="mensaje" class="error">
        {{error}}
    </section>
    {% endif %}
    <h1>Iniciar sesión</h1>
    <form method='post' action='{% url autenticacion %}'>
        {% csrf_token %} {% for campo in formulario %}
        <div class="field">
            {{ campo.label_tag }}: {{ campo }}
        </div>
        {% endfor %}
        <div class="fix"></div>
        <input type='submit' value='Iniciar sesión' />
        <p class="mensaje">
            <a href="{% url registro %}">¿No estás registrado?</a>
            <br>
            <a href="{% url restablecer-clave %}">¿Olvidaste tu contraseña?</a>
        </p>
    </form>
</div>
{% endblock principal %}