{% extends "base.html" %}{% load filters %}
{% block titulo %}{{query|escape}} - Sonrisatroll{% endblock titulo %}
{% block contenido %}
<h1>Resultados para "{{query|escape}}"</h1>
{% if resultados %}
<table id="resultados">
    {% for publicacion in resultados %}
    <tr>
        <td>
            <a href="{% url publicacion publicacion.slug publicacion.pk %}">
                <img src="{% if publicacion.imagen %}{{MEDIA_URL}}{% if 'GIF' in publicacion.etiquetas.all|safe %}{{ publicacion.imagen|safe|gif_estatico }}{% else %}{{ publicacion.imagen }}{% endif %}{% else %}{{publicacion.video|youtube_thumbnail}}{% endif %}" alt="{{publicacion}}" width="130">
            </a>
            <h1>
                <a href="{% url publicacion publicacion.slug publicacion.pk %}">{{publicacion}}</a>
            </h1>
            <h2>
                <a href="{% url usuario publicacion.autor 'aportes' '1' %}">{{publicacion.autor}}</a>
            </h2>
            <p>
                {% if publicacion.etiquetas %}
                <strong>Etiquetas:</strong>{% for etiqueta in publicacion.etiquetas.all %} {% if forloop.last %} {{etiqueta}}. {% else %} {{etiqueta}}, {% endif %} {% endfor %} {% endif %}
            </p>
        </td>
    </tr>
    {% endfor %}
</table>
<hr>{% else %}
<p class="mensaje">
    No hay publicaciones registradas
</p>
{% endif %} {% if resultados.has_previous or resultados.has_next %}
<nav id="paginacion">
    <ul>
        {% if resultados.has_previous %}
        <li>
            <a href="{% url busqueda_query resultados.previous_page_number query %}" class="boton">Anterior</a>
        </li>
        {% endif %} {% if resultados.has_next %}
        <li>
            <a href="{% url busqueda_query resultados.next_page_number query %}" class="boton">Siguiente</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}{% endblock contenido %}