<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>{{query|escape}} - Sonrisatroll</title>
    <meta name="description" content="Sonrisatroll es un repertorio de memes en español, enviados por nuestros usuarios. Cada usuario desbloquea rangos y medallas al hacer aportes.">
    <meta name="keywords" content="meme, memes, trol, sonrisa, sonrisatrol, español, comic">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="NOODP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/sonrisatrol.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    {% load filters %}
    <header id="header">
        <div class="contenedor">
            <section id="cuerpo">
                <form method="get" action="{% url busqueda '1' %}">
                    <input name="q" type="text" placeholder="{% if query|escape == " " %}Búsqueda{%else%}{{query|escape}}{%endif%}">
                    <input type="submit">
                </form>
                <a href="{% url index %}">
                    <img id="logo" src="{{STATIC_URL}}img/logo.png" alt="Sonrisatrol" title="Sonrisatrol">
                </a>
                <select name="categorias" id="categorias">
                    <option value="">Categorias</option>
                    <option value="{% url index_categoria 'popular' %}" {% if categoria == 'popular' %}selected{%endif%}>Popular</option>
                    <option value="{% url index_categoria 'nuevo' %}" {% if categoria == 'nuevo' %}selected{%endif%}>Nuevo</option>
                </select>
            </section>
            <aside>
                <nav>
                    <ul>
                        <li>
                            <a href="{% if request.user.perfil.perfil %}{% url publicar 'imagen' %}{% else %}{% url registro %}{% endif %}">
                                <span>
                                    <strong>Subir</strong>
                                </span>
                                <img src="{{STATIC_URL}}img/subir.png" alt="Subir" title="Subir" width="32" height="32">
                            </a>
                        </li>
                        <li id="cuenta">
                            {% if request.user.perfil %}
                            <a href="{% url usuario request.user 'aportes' '1' %}">
                                <span>Cuenta</span>
                                <img src="{{MEDIA_URL}}{{request.user.perfil.avatar}}" alt="{{request.user}}" title="Perfil de {{request.user}}" width="32" height="32">
                            </a>
                            {% else %}
                            <a href="{% url autenticacion %}">
                                <span>Iniciar sesión</span>
                                <img src="{{STATIC_URL}}img/login.png" alt="Iniciar sesión" title="Iniciar sesión" width="32" height="32">
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="fix"></div>
            {% if request.user.perfil %}
            <nav id="cuentaMenu">
                <ul>
                    <li>
                        <a href="{% url editar-perfil %}">Editar perfil</a>
                    </li>
                    <li>
                        <a href="{% url salir%}">Cerrar sesión</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    <div id="pagina">
        <section id="contenido">
            <h1>Resultados para "{{query|escape}}"</h1>
            {% if resultados %}
            <table id="resultados">
                {% for publicacion in resultados %}
                <tr>
                    <td>
                        <a href="{% url publicacion publicacion.slug publicacion.pk %}">
                            <img src="{% if publicacion.imagen %}{{MEDIA_URL}}{% if " GIF " in publicacion.etiquetas.all|safe %}{{ publicacion.imagen|safe|gif_estatico }}{% else %}{{ publicacion.imagen }}{% endif %}{% else %}{{publicacion.video|youtube_thumbnail}}{% endif %}" alt="{{publicacion}}" width="130">
                        </a>
                        <h1>
                            <a href="{% url publicacion publicacion.slug publicacion.pk %}">{{publicacion}}</a>
                        </h1>
                        <h2>
                            <a href="{% url usuario publicacion.autor 'aportes' '1' %}">{{publicacion.autor}}</a>
                        </h2>
                        <p>
                            {% if publicacion.etiquetas %}
                            <strong>Etiquetas:</strong>{% for etiqueta in publicacion.etiquetas.all %} {% if forloop.last %} {{etiqueta}}. {% else %} {{etiqueta}}, {% endif %} {% endfor %} {% endif %}
                        </p>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <hr>{% else %}
            <p class="mensaje">
                No hay publicaciones registradas
            </p>
            {% endif %} {% if resultados.has_previous or resultados.has_next %}
            <nav id="paginacion">
                <ul>
                    {% if resultados.has_previous %}
                    <li>
                        <a href="{% url busqueda_query resultados.previous_page_number query %}" class="boton">Anterior</a>
                    </li>
                    {% endif %} {% if resultados.has_next %}
                    <li>
                        <a href="{% url busqueda_query resultados.next_page_number query %}" class="boton">Siguiente</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </section>
        <aside id="sidebar">
            <section class="contenedor">
                <div class="publicidad">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-3998478512214443" data-ad-slot="1884168886"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </section>
        </aside>
        <div class="fix"></div>
    </div>
    <footer id="footer">
        <nav>
            <ul>
                <li>
                    <a href="{% url seccion 'acerca' %}">Acerca</a>
                </li>
                <li>
                    <a href="{% url seccion 'preguntas-frecuentes' %}">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="{% url seccion 'terminos-de-uso' %}">Términos de uso</a>
                </li>
                <li>
                    <a href="{% url seccion 'anuncia' %}">Anuncia</a>
                </li>
                <li>
                    <a href="{% url seccion 'contacto' %}">Contacto</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script async defer src="{{STATIC_URL}}js/sonrisatrol.js"></script>
</body>

</html>
