{% extends "base.html" %} {% block titulo %}Nueva publicación - Sonrisatroll{% endblock titulo %} {% block principal %}
<div id="formulario" class="formGrande">
    <h1>Editar perfil</h1>
    <form enctype="multipart/form-data" method='post' action='{% url editar-perfil %}'>
        {% csrf_token %} {% for campo in usuario_form %}
        <span class="helptext">{{campo.help_text}}</span>
        <div class="field">
            {{ campo.errors }} {{ campo.label_tag }}: {{ campo }}
        </div>
        {% endfor %} {% for campo in perfil_form %}
        <span class="helptext">{{campo.help_text}}</span>
        <div class="field">
            {{ campo.errors }} {{ campo.label_tag }}:{% if campo.label == "Avatar" %}
            <br>{% endif %} {{ campo }}

        </div>
        {% endfor %}
        <div class="fix"></div>
        <input type='submit' value='Guardar' />
    </form>
</div>
{% endblock principal %}