{% extends "base.html" %}{% load filters %}
    {% block js %} {% if publicaciones %}
    <script async defer src="{{STATIC_URL}}js/widgets.js"></script>
    <script async defer src="{{STATIC_URL}}js/reproductorGIF.js"></script>
    <script async defer src="{{STATIC_URL}}js/navegacion.js"></script>
    {% endif %} {% if request.user.perfil and publicaciones %}
    <script>
        $(document).ready(function () {
            $('.favorito').click(function () {
                favorito(this);
            });

            $(document).keyup(function (event) {
                if (String.fromCharCode(event.keyCode) == "l" || String.fromCharCode(event.keyCode) == "L") {
                    favorito("#navegacion" + publicacionActual() + " .favorito");
                }
            });

            function favorito(boton) {
                var id = $(boton).attr('id').match(/[0-9]+/);
                var request = $.ajax({
                    async: true,
                    type: "POST",
                    url: "{% url favorito %}",
                    data: 'publicacion_id=' + id + '&csrfmiddlewaretoken=' + '{{csrf_token}}',
                    dataType: "text"
                });
                request.done(function (msg) {
                    $('#cuenta' + id + '').text(msg.replace(/\"/g, ''));
                });
                if ($(boton).hasClass('fseleccionado')) {
                    $(boton).removeClass('fseleccionado');
                } else {
                    $(boton).addClass('fseleccionado');
                }
                return false;
            }
        });
    </script>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('#cerrar').click(function () {
                $('#mensaje').css('display', 'none');
                var request = $.ajax({
                    async: true,
                    type: "POST",
                    url: "{% url borrar_mensaje %}",
                    data: 'csrfmiddlewaretoken=' + '{{csrf_token}}',
                    dataType: "text"
                });
                return false;
            });
        });
    </script>
    {% endblock js %}