<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<title>Nueva publicación - Sonrisatrol</title>
		<meta name="description" content="Sonrisatrol es un repertorio de memes en español, enviados por nuestros usuarios. Cada usuario desbloquea rangos y medallas al hacer aportes.">
		<meta name="keywords" content="meme, memes, trol, sonrisa, sonrisatrol, español, comic">
		<meta name="robots" content="index, follow">
		<meta name="googlebot" content="NOODP">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/sonrisatrol.css">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		<header id="header">
			<div class="contenedor">
				<section id="cuerpo">
					<form method="get" action="{% url busqueda "1" %}">
						<input name="q" type="text" placeholder="Búsqueda">
						<input type="submit">
					</form>
					<a href="{% url index %}"> <img id="logo" src="{{STATIC_URL}}img/logo.png" alt="Sonrisatrol" title="Sonrisatrol"> </a>
					<select name="categorias" id="categorias">
						<option value="">Categorias</option>
						<option value="{% url index_categoria "popular" %}">Popular</option>
						<option value="{% url index_categoria "nuevo" %}">Nuevo</option>
					</select>
				</section>
				<aside>
					<nav>
						<ul>
							<li>
								<a href="{% url publicar "imagen" %}"><span> <strong>Subir</strong> </span> <img src="{{STATIC_URL}}img/subir.png" alt="Subir" title="Subir" width="32" height="32"> </a>
							</li>
							<li id="cuenta">
								<a href="{% url usuario request.user "aportes" "1" %}"><span>Cuenta</span><img src="{{MEDIA_URL}}{{request.user.perfil.avatar}}" alt="{{request.user}}" title="Perfil de {{request.user}}" width="32" height="32"></a>
							</li>
						</ul>
					</nav>
				</aside>
				<div class="fix"></div>
				<nav id="cuentaMenu">
					<ul>
						<li>
							<a href="{% url editar-perfil %}">Editar perfil</a>
						</li>
						<li>
							<a href="{% url salir%}">Cerrar sesión</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="formulario">
			<nav>
				<ul>
					<li>
						<a class="boton{% if formulario.imagen %} sboton{% endif %}" href="{% url publicar "imagen" %}">Imagen</a>
					</li>
					<li>
						<a class="boton{% if formulario.video %} sboton{% endif %}" href="{% url publicar "video" %}">Video</a>
					</li>
				</ul>
			</nav>
			<h1>Nueva publicación</h1>
			<form {% if formulario.imagen %}enctype="multipart/form-data"{% endif %} method='post' action=''>
				{% csrf_token %}
				{% for campo in formulario %}
				{% if campo.label != "Etiquetas" %}
				<span class="helptext">{{campo.help_text}}</span>
				{% endif%}
				<div class="field">
					{{ campo.errors }}
					{{ campo.label_tag }}:{% if campo.label == "Etiquetas" %}<div class="fix"></div>
					{% endif %} {{ campo }}
				</div>
				{% if campo.label == "Etiquetas" %}
				<span class="helptext">{{campo.help_text}}</span>
				{% endif %}
				<div class="fix"></div>
				{% endfor %}
				<input type='submit' value='Publicar'/>
		</div>
		<footer id="footer">
			<nav>
				<ul>
					<li>
						<a href="{% url seccion "acerca" %}">Acerca</a>
					</li>
					<li>
						<a href="{% url seccion "preguntas-frecuentes" %}">Preguntas frecuentes</a>
					</li>
					<li>
						<a href="{% url seccion "terminos-de-uso" %}">Términos de uso</a>
					</li>
					<li>
						<a href="{% url seccion "anuncia" %}">Anuncia</a>
					</li>
					<li>
						<a href="{% url seccion "contacto" %}">Contacto</a>
					</li>
				</ul>
			</nav>
		</footer>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script async defer src="{{STATIC_URL}}js/sonrisatrol.js"></script>
	</body>

</html>