{% extends "base.html" %} {% block titulo %}Nueva publicación - Sonrisatroll{% endblock titulo %} {% block principal %}
<div id="formulario">
    <nav>
        <ul>
            <li>
                <a class="boton{% if formulario.imagen %} sboton{% endif %}" href="{% url publicar 'imagen' %}">Imagen</a>
            </li>
            <li>
                <a class="boton{% if formulario.video %} sboton{% endif %}" href="{% url publicar 'video' %}">Video</a>
            </li>
        </ul>
    </nav>
    <h1>Nueva publicación</h1>
    <form {% if formulario.imagen %}enctype="multipart/form-data" {% endif %} method='post' action='{% if formulario.video %}{% url publicar 'video' %}{% else %}{% url publicar 'imagen' %}{% endif %}'>
        {% csrf_token %} {% for campo in formulario %} {% if campo.label != "Etiquetas" %}
        <span class="helptext">{{campo.help_text}}</span>
        {% endif%}
        <div class="field">
            {{ campo.errors }} {{ campo.label_tag }}:{% if campo.label == "Etiquetas" %}
            <div class="fix"></div>
            {% endif %} {{ campo }}
        </div>
        {% if campo.label == "Etiquetas" %}
        <span class="helptext">{{campo.help_text}}</span>
        {% endif %}
        <div class="fix"></div>
        {% endfor %}
        <input type='submit' value='Publicar' />
</div>
{% endblock principal %}