{% extends "base.html" %} {% load filters %} {% block titulo %}{{publicacion}} - Sonrisatroll{% endblock %} {% block contenido %}
<article id="post">
    <hgroup>
        <h1>
            <span class="contador {{ publicacion.favoritos|contador }}">
                <span id="cuenta{{ publicacion.pk }}">{{ publicacion.favoritos|cuenta }}</span>
            </span>
            <a href="javascript:void(0)">{{ publicacion.titulo }}</a>
        </h1>
        <h1 class="fix"></h1>
        <h2>
            <a href="{% url usuario publicacion.autor 'aportes' '1' %}">{{publicacion.autor.username}}</a>
        </h2>
    </hgroup>
    <div class="contenedor">
        {% if publicacion.imagen %}
        <img {% if "GIF" in publicacion.etiquetas.all|safe %}class="gif" {% endif %}src="{{MEDIA_URL}}{{ publicacion.imagen }}" alt="{{ publicacion.titulo }}">{% else %} {% if publicacion.video %}
        <div class="contenedorVideo">
            {{ publicacion.video|youtube_embed_url|safe}}
        </div>
        {% endif %}{% endif %}
        <nav>
            <ul>
                <li>
                    <a id="compartir{{ publicacion.pk }}" href="javascript:void(0)" class="compartir">Compartir</a>
                </li>
                <li>
                    <a id="favorito{{ publicacion.pk }}" href="{% if request.user.perfil %}javascript:void(0){% else %}{% url registro %}{% endif %}" class="favorito{% if request.user.perfil and publicacion in request.user.perfil.favoritos.all %} fseleccionado {% endif %}">Favorito</a>
                </li>
            </ul>
            <div class="fix"></div>
            <section id="sharebox{{ publicacion.pk }}" class="sharebox">
                <table>
                    <tr>
                        <td>
                            <a href="//twitter.com/share" class="twitter-share-button" data-via="Sonrisatrol" data-url="{{ request.META.HTTP_HOST|weburl }}publicacion/{{ publicacion.slug }}-{{publicacion.pk}}" data-text="{{ publicacion.titulo }}" data-lang="es">Twittear</a>
                        </td>
                        <td>
                            <div class="g-plusone" data-size="medium" data-href="{{ request.META.HTTP_HOST|weburl }}publicacion/{{ publicacion.slug }}-{{publicacion.pk}}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="fb-like" data-href="{{ request.META.HTTP_HOST|weburl }}publicacion/{{ publicacion.slug }}-{{publicacion.pk}}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-colorscheme="light"></div>
                        </td>
                        {% if publicacion.imagen %}
                        <td>
                            <a data-pin-config="beside" href="//pinterest.com/pin/create/button/?url={{ request.META.HTTP_HOST|weburl|urlencode:'' }}publicacion%2F{{ publicacion.slug|urlencode:'' }}&media={{ request.META.HTTP_HOST|weburl|slice:'-1'|urlencode:'' }}{{MEDIA_URL}}{{publicacion.imagen}}&description={{ publicacion.titulo|urlencode:'' }}" data-pin-do="buttonPin">
                                <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
                            </a>
                        </td>{% endif %}
                    </tr>
                </table>
            </section>
        </nav>
    </div>
    <div class="fix"></div>
</article>
<hr>
<section id="comentarios">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'sonrisatrol';
        var disqus_identifier = '{{publicacion.pk}}';
        var disqus_title = '{{publicacion}}-{{publicacion.pk}}';
        var disqus_url = '{{request.build_absolute_uri}}';
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Por favor activa JavaScript para ver los
        <a href="http://disqus.com/?ref_noscript">comentarios proporcionados por Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">
        <span class="logo-disqus"></span>
    </a>
</section>
{% endblock contenido %} {% block js %} {% if publicacion %}
<script async defer src="{{STATIC_URL}}js/widgets.js"></script>
{% endif %} {% if request.user.perfil %}
<script>
    $('.favorito').click(function () {
        var id = $(this).attr('id').match(/[0-9]+/);
        var request = $.ajax({
            async: true,
            type: "POST",
            url: "{% url favorito %}",
            data: 'publicacion_id=' + id + '&csrfmiddlewaretoken=' + '{{csrf_token}}',
            dataType: "text"
        });
        request.done(function (msg) {
            $('#cuenta' + id + '').text(msg.replace(/\"/g, ''));
        });
        if ($(this).hasClass('fseleccionado')) {
            $(this).removeClass('fseleccionado');
        } else {
            $(this).addClass('fseleccionado');
        }
        return false;
    });
</script>
{% endif %} {% endblock js %}