{% extends "base.html" %} {% block titulo %}Iniciar sesión - Sonrisatroll{% endblock titulo %} {% block principal %}
<div id="formulario">
    <h1>Nuevo usuario</h1>
    <form id='registro' method='post' action='{% url registro %}'>
        {% csrf_token %} {% for campo in formulario %}
        <div class="field">
            {{ campo.errors }} {{ campo.label_tag }}: {{ campo }}
        </div>
        {% endfor %}
        <div class="fix"></div>
        <input type='submit' value='Registrarse' />
        <p class="mensaje">
            <a href="{% url autenticacion %}">¿Ya estás registrado?</a>
        </p>
    </form>
</div>
{% endblock principal %}