@charset "utf-8";

/*  Sonrisatroll
    Tema: Sonrisatroll
    Tema URL: http://www.sonrisatroll.com
    Autor: José Cols - josecolsg@gmail.com - @josecols
    Version: 1.0
*/

/* Teléfono */

@font-face {
    src: url(../fonts/opensans-light-webfont.eot) format("embedded-opentype"), url(../fonts/opensans-light-webfont.woff) format("woff"), url(../fonts/opensans-light-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-family: "open sans"
}
@font-face {
    src: url(../fonts/opensans-bold-webfont.eot) format("embedded-opentype"), url(../fonts/opensans-bold-webfont.woff) format("woff"), url(../fonts/opensans-bold-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-family: "open sans"
}
@font-face {
    src: url(../fonts/segoeui-light-webfont.eot) format("embedded-opentype"), url(../fonts/segoeui-light-webfont.woff) format("woff"), url(../fonts/segoeui-light-webfont.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-family: "segoe ui"
}
@font-face {
    src: url(../fonts/segoeui-semibold-webfont.eot) format("embedded-opentype"), url(../fonts/segoeui-semibold-webfont.woff) format("woff"), url(../fonts/segoeui-semibold-webfont.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-family: "segoe ui"
}
#contenido {
    padding: 0 3px;
}
#contenido #filtro {
    background: #e9e9e9;
    line-height: 28px
}
#contenido #filtro li {
    margin-right: 10px
}
#contenido #filtro ul li .seleccionado {
    background: #f8f8f8;
    color: #000;
    text-shadow: 1px 1px #FFF
}
#contenido #filtro ul li a {
    color: #000;
    display: block;
    padding: 0 5px;
    text-decoration: none
}
#contenido #filtro ul li a:hover,
#contenido #filtro ul li .seleccionado {
    background: #666;
    color: #FFF;
    text-shadow: 1px 1px #000
}
#contenido #mensaje,
#formulario #mensaje {
    display: block;
    color: #fff;
    margin: 0 auto 15px auto;
    padding: 8px
}
#contenido #mensaje a,
#formulario #mensaje a {
    color: #fff;
    float: right;
    text-decoration: underline
}
#contenido #mensaje a:hover,
#formulario #mensaje a:hover {
    text-decoration: none
}
#contenido #paginacion {
    margin: 10px auto 30px;
    width: 75%
}
#contenido #paginacion .boton {
    background: #2b3f59;
    border-radius: 5px;
    color: #FFF;
    display: block;
    font-size: 1.125em;
    font-weight: 700;
    padding: 4%;
    text-decoration: none
}
#contenido #paginacion .boton:active {
    background: #3e5c82 !important
}
#contenido #paginacion .boton:hover {
    background: #364f70
}
#contenido #paginacion li {
    display: inline-block;
    margin: 0 1%;
    width: 43%
}
#contenido #paginacion ul,
.center {
    text-align: center
}
#contenido #perfil {
    background: #f4f4f4;
    height: 150px;
    overflow: hidden;
    position: relative
}
#contenido #perfil #informacion {
    left: 160px;
    position: absolute;
    top: 10px
}
#contenido #perfil #social {
    display: none
}
#contenido #post .contenedor {
    background: #f3f3f3
}
#contenido #post hgroup {
    background: #f3f3f3;
    padding: 10px;
    text-align: justify
}
#contenido #post nav {
    background: #e9e9e9;
    border-radius: 5px;
    margin-top: 15px
}
#contenido #resultados {
    width: 100%
}
#contenido #resultados td {
    position: relative
}
#contenido #resultados td img {
    display: block;
    float: left;
    margin-right: 10px;
    max-width: 130px
}
#contenido #resultados td p {
    display: none
}
#contenido #resultados tr:nth-child(even) {
    background: #f3f3f3
}
#contenido #resultados tr:nth-child(odd) {
    background: #efefef
}
#contenido .bronce {
    background: #bc854d;
    border: 3px solid #e0ab75
}
#contenido .contador {
    border-radius: 100px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .3);
    color: #FFF;
    display: inline-block;
    font-size: 1em;
    height: 24px;
    min-width: 24px;
    padding: 4px;
    text-align: center;
    vertical-align: middle
}
#contenido .contador span {
    display: block;
    line-height: 24px
}
#contenido .contenedor img {
    display: block;
    margin: 0 auto
}
#contenido .error,
#formulario .error {
    background-color: #e74c3c
}
#contenido .exito,
#formulario .exito {
    background-color: #5FA8C9
}
#contenido .mensaje,
#formulario .mensaje {
    margin-top: 15px;
    text-align: center
}
#contenido .mensaje a,
#formulario .mensaje a {
    color: #3e6e85;
    text-decoration: none
}
#contenido .mensaje a:hover,
#formulario .mensaje a:hover {
    color: #5496B5
}
#contenido .oro {
    background: #bfa41f;
    border: 3px solid #ebca26
}
#contenido .plata {
    background: #bcbbbf;
    border: 3px solid #DDD;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2)
}
#contenido .post {
    margin: 20px 0
}
#contenido .gif {
    cursor: pointer;
    width: 80%
}
#contenido .post .contenedor {
    position: relative
}
#contenido .post .contenedorVideo,
#contenido #post .contenedorVideo {
    width: 100%;
    max-height: 315px;
    max-width: 470px;
    margin: 0 auto;
}
#contenido .post .reproducir {
    background-image: url('../img/reproducir.png');
    cursor: pointer;
    display: none;
    height: 65px;
    position: absolute;
    width: 65px
}
#contenido .post hgroup {
    margin-bottom: 5px;
    text-align: justify
}
#contenido .post nav {
    background: #e9e9e9;
    border-radius: 5px;
    margin-top: 5px
}
#contenido .post nav .sharebox table td,
#contenido #post nav .sharebox table td {
    height: 30px
}
#contenido .post nav .sharebox table,
#contenido #post nav .sharebox table {
    width: 100%
}
#contenido .post nav .sharebox,
#contenido #post nav .sharebox {
    background: #666;
    box-shadow: inset 0 5px 8px -2px #111;
    display: none;
    height: 70px;
    overflow: visible;
    padding: 5px
}
#contenido .post nav li .compartir,
#contenido #post nav li .compartir {
    border-radius: 5px 0 0 5px;
    color: #000;
    display: block;
    text-decoration: none
}
#contenido .post nav li .compartir:hover,
#contenido #post nav li .compartir:hover {
    background: #666;
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px #000
}
#contenido .post nav li .cseleccionado,
#contenido #post nav li .cseleccionado {
    background: #666;
    border-bottom-left-radius: 0;
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px #000
}
#contenido .post nav li .favorito,
#contenido #post nav li .favorito {
    border-radius: 0 5px 5px 0;
    color: #000;
    display: block;
    text-decoration: none
}
#contenido .post nav li .favorito:active,
#contenido #post nav li .favorito:active {
    background: #fad728 !important
}
#contenido .post nav li .favorito:hover,
#contenido .post nav li .fseleccionado,
#contenido #post nav li .favorito:hover,
#contenido #post nav li .fseleccionado {
    background: #edcc26;
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px #473d0b
}
#contenido .post nav li,
#contenido #post nav li {
    float: left;
    line-height: 28px;
    text-align: center;
    width: 50%
}
#contenido .publicidad {
    display: block;
    margin: 0 auto
}
#contenido hr {
    background: #c5c5c5;
    border: 0;
    height: 1px;
    margin: 40px auto;
    overflow: hidden
}
#contenido p {
    margin: 0;
    text-align: justify
}
#formulario {
    background: #f8f8f8;
    border: 1px solid #CCC;
    margin: 0 auto 20px;
    max-width: 385px;
    overflow: hidden;
    padding: 5px
}
#formulario .errorlist {
    color: #C22F1F;
    font-size: 0.95em;
    margin: 0;
    padding-left: 20px
}
#formulario .field {
    clear: both
}
#formulario input[type="text"],
#formulario input[type="password"],
#formulario textarea {
    background-color: #f1f1f1;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 4px 1px #DDD inset;
    float: right;
    padding: 6px 5px
}
#formulario input[type="text"]:focus,
#formulario input[type="password"]:focus,
#formulario textarea:focus {
    background-color: #fff;
    border-color: #3e6e85;
    outline: none;
    box-shadow: 0 0 4px 1px #DDD inset
}
#formulario input[type="submit"] {
    background-color: #DB5C2A;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1.03em;
    margin: 15px auto 5px auto;
    min-width: 110px;
    padding: 5px 4px;
}
#formulario input[type="submit"]:hover {
    background-color: #F2662E
}
#formulario input[type="submit"]:active {
    background-color: #FF6B30
}
#formulario select {
    float: left;
    min-width: 100%
}
#formulario nav .boton {
    background-color: #2b3f59;
    border-radius: 5px;
    color: #FFF;
    display: block;
    padding: 5px 10px;
    text-decoration: none
}
#formulario nav .boton:active,
#formulario nav .sboton {
    background-color: #3e5c82 !important
}
#formulario nav .boton:hover {
    background-color: #364f70
}
#formulario nav li {
    display: inline-block
}
#formulario nav ul {
    text-align: center
}
#footer {
    height: 60px;
    text-align: center
}
#footer nav ul li {
    padding: 0 5px
}
#footer nav ul li a {
    color: #000;
    text-decoration: none
}
#footer nav ul li a:hover {
    color: #444
}
#header {
    background-color: #2b3f59;
    border-bottom: 6px solid #3e6e85;
    height: 50px;
    margin-bottom: 25px
}
#header .contenedor {
    height: 50px;
    margin: 0 auto;
    max-width: 1140px;
    position: relative
}
#header .contenedor #cuentaMenu {
    display: none;
    background-color: #3e6e85;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 999;
}
#header .contenedor #cuentaMenu li {
    display: block;
    padding: 6px;
    text-align: center
}
#header .contenedor #cuentaMenu a {
    color: #DDE8EB;
    text-decoration: none
}
#header .contenedor #cuentaMenu a:hover {
    color: #fff
}
#header .contenedor #cuerpo {
    float: left;
    height: 50px;
    position: relative;
    width: 73.2456%
}
#header .contenedor #cuerpo #categorias {
    background: url(../img/flechab.png) no-repeat 95% #3e6e85;
    border: none;
    color: #f0f0f0;
    font-size: 1em;
    height: 50px;
    padding: 0 5px;
    position: absolute;
    right: 15%;
    top: 0;
    width: 108px;
    -webkit-appearance: none
}
#header .contenedor #cuerpo #categorias:focus {
    background: url(../img/flecha.png) no-repeat 95% #f6f6f6 !important;
    box-shadow: inset 1px 1px 5px 0 #AAA;
    color: #000;
    outline: none
}
#header .contenedor #cuerpo #categorias:hover {
    background: url(../img/flechab.png) no-repeat 95% #447991;
    cursor: pointer
}
#header .contenedor #cuerpo #logo {
    bottom: 7px;
    height: 36px;
    left: 1%;
    position: absolute;
    width: 36px
}
#header .contenedor #cuerpo form {
    visibility: hidden
}
#header .contenedor aside {
    float: right;
    height: 50px;
    width: 26.7%
}
#header .contenedor aside nav {
    float: right;
    margin: 9px 5px 9px 0;
    width: 86px
}
#header .contenedor aside nav ul li {
    height: 32px;
    margin: 0 3px;
    overflow: hidden;
    width: 32px
}
#header .contenedor aside nav ul li a {
    color: #FFF;
    display: block;
    text-decoration: none;
    text-shadow: 1px 1px #0c1219
}
#header .contenedor aside nav ul li a img {
    display: block;
    height: 32px;
    width: 32px
}
#header .contenedor aside nav ul li span {
    display: none
}
#header .contenedor aside nav ul li a:hover {
    color: #7ccede
}
#pagina {
    background: #f8f8f8;
    border: 1px solid #CCC;
    margin: 0 auto 20px;
    min-height: 700px
}
#sidebar {
    display: block;
    float: left;
    width: 100%
}
#sidebar #medallas,
#sidebar #rango {
    width: 100%
}
#sidebar #rango img {
    display: block;
    height: 128px;
    width: 128px;
    margin: 0 auto
}
#sidebar #medallas .detalle {
    float: left;
}
#sidebar #medallas img {
    display: block;
    height: 64px;
    width: 64px;
    margin: 2px
}
#sidebar .boton {
    background-color: #DB5C2A;
    border-radius: 4px;
    color: #FFF;
    display: block;
    font-size: 1.2em;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    padding: 5px 4px;
    width: 70%
}
#sidebar .boton:hover {
    background-color: #F2662E
}
#sidebar .boton:active {
    background-color: #FF6B30
}
#sidebar .contenedor {
    height: 250px;
    margin: 10px auto;
    width: 300px
}
#sidebar .contenedor .publicidad {
    position: static;
}
.helptext {
    float: right;
    clear: both;
    font-size: 12px;
    margin-top: 6px;
    text-align: right
}
.fix {
    clear: both
}
.formGrande {
    max-width: 600px !important
}
.formMediano {
    max-width: 500px !important
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 470px;
    max-height: 315px;
}
a img {
    border: none
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
form {
    display: block
}
body {
    background: url(../img/body-bg.png) #e8e9eb;
    color: #000;
    font: 100%"segoe ui light", "open sans", Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0
}
h1 {
    font-size: 1.24em;
    margin: 5px 0;
    word-wrap: break-word
}
h1 a {
    color: #36737d;
    text-decoration: none
}
h1 a:hover {
    color: #43909c
}
h2 {
    font-size: .92em;
    margin: 0
}
h2 a,
#comentarios a,
#formulario .field a {
    color: #e5602c;
    text-decoration: none
}
h2 a:hover,
#comentarios a:hover,
#formulario .field a:hover {
    color: #fa692f
}
img,
object,
embed,
video {
    max-width: 100%
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}
nav ul li {
    display: inline-block
}
/* Tablet */

@media only screen and (min-width: 481px) {
    #contenido #perfil #social {
        bottom: 10px;
        display: block;
        position: absolute;
        right: 10px
    }
    #contenido #perfil #social li {
        line-height: 16px;
        padding: 0 5px
    }
    #contenido #perfil #social li img {
        vertical-align: bottom
    }
    #formulario {
        padding: 10px
    }
    #header .contenedor #cuerpo #categorias {
        right: 21%
    }
}
/* Escritorio */

@media only screen and (min-width: 1025px) {
    #contenido {
        float: left;
        margin: 0 auto;
        padding: 0 20px;
        width: 66.7%
    }
    #contenido #mensaje {
        border-radius: 0 0 5px 5px
    }
    #contenido #resultados td p {
        bottom: 5px;
        display: block;
        position: absolute;
        right: 5px
    }
    #contenido .post .contenedor {
        float: left;
        width: 66.25%
    }
    #contenido .post hgroup,
    #contenido .post nav {
        float: right;
        width: 30%
    }
    #contenido .post nav li {
        display: block;
        float: right;
        text-align: center
    }
    #contenido .post nav li .compartir {
        border-radius: 0 5px 5px 0
    }
    #contenido .post nav li .cseleccionado {
        background: #666;
        border-radius: 0 5px 0 0;
        color: #FFF;
        font-weight: 700;
        text-shadow: 1px 1px #000
    }
    #contenido .post nav li .favorito {
        border-radius: 5px 0 0 5px
    }
    #contenido .publicidad {
        display: none
    }
    #formulario {
        border-radius: 8px;
        box-shadow: 0 0 5px 1px #CCC;
        margin: 80px auto 30px;
    }
    #footer {
        margin: 0 auto 30px;
        max-width: 1140px;
        text-shadow: 0 1px 1px #FFF
    }
    #header {
        box-shadow: 1px 0 8px -1px #111;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2
    }
    #header .contenedor #cuentaMenu {
        right: 2%
    }
    #header .contenedor #cuerpo #categorias {
        right: 1%
    }
    #header .contenedor #cuerpo #logo {
        left: 50%
    }
    #header .contenedor #cuerpo form {
        position: absolute;
        top: 0;
        visibility: visible
    }
    #header .contenedor #cuerpo form input[type=submit] {
        display: none
    }
    #header .contenedor #cuerpo form input[type=text] {
        background: #2b3f59;
        border: 1px solid #2b3f59;
        color: #f0f0f0;
        font-size: 1em;
        height: 48px;
        padding: 0 5px
    }
    #header .contenedor #cuerpo form input[type=text]:focus {
        background: #24364a !important;
        cursor: text;
        outline: none
    }
    #header .contenedor #cuerpo form input[type=text]:hover {
        background: #304663;
        cursor: pointer
    }
    #header .contenedor aside nav {
        margin: 12px 0;
        width: 100%
    }
    #header .contenedor aside nav ul li {
        background: none;
        margin: 0;
        text-align: center;
        width: 49%
    }
    #header .contenedor aside nav ul li a img {
        display: none
    }
    #header .contenedor aside nav ul li a,
    #header .contenedor aside nav ul li span {
        display: inline-block;
        padding: 2px
    }
    #pagina {
        border-radius: 8px;
        box-shadow: 0 0 5px 1px #CCC;
        margin: 80px auto 30px;
        max-width: 1140px;
        overflow: hidden;
        position: relative
    }
    #sidebar {
        background: -webkit-linear-gradient(180deg, #F8F8F8, #F2F2F2);
        background: -moz-linear-gradient(180deg, #F8F8F8, #F2F2F2);
        background: -o-linear-gradient(180deg, #F8F8F8, #F2F2F2);
        background: -ms-linear-gradient(180deg, #F8F8F8, #F2F2F2);
        background: linear-gradient(180deg, #F8F8F8, #F2F2F2);
        box-shadow: inset 8px 0 6px -6px #CCC;
        display: block;
        float: right;
        height: 100%;
        position: absolute;
        right: 0;
        width: 27.7%
    }
    #sidebar .contenedor .publicidad.fixed {
        position: fixed;
        top: 75px;
    }
    #sidebar #medallas,
    #sidebar #rango {
        margin: 15px auto;
        width: 90%
    }
}