{% autoescape off %}
Usted ha recibido este correo porque se realizó una solicitud de restablecimiento de contraseña para su cuenta de usuario en {{ site_name }}.

Para elegir la nueva contraseña diríjase a la siguiente página:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid, token=token %}
{% endblock %}

Recuerda que tu nombre de usuario es: {{ user.username }}

¡Sonríe!

El equipo de {{ site_name }}.

{% endautoescape %}